<a href="https://colab.research.google.com/github/thisisanuragn/ANURAG-N/blob/main/AnuragN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data = pd.read_csv("/content/titanic_dataset.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
data.shape

(891, 12)

In [12]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Fill missing values
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data['Fare'].fillna(data['Fare'].median(), inplace=True)
data.drop(columns=['Cabin'], inplace=True)  # Drop column with too many missing values

# Convert categorical columns to numerical
data['Sex'] = LabelEncoder().fit_transform(data['Sex'])
data['Embarked'] = LabelEncoder().fit_transform(data['Embarked'])

# Drop columns that are not useful for prediction
data.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)

# Define features and target variable
X = data.drop(columns=['Survived'])
y = data['Survived']

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [16]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# Initialize models
knn = KNeighborsClassifier()
svm = SVC()

In [17]:
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold

# k-fold cross-validation
kf = KFold(n_splits=10, shuffle=True, random_state=1)

# kNN k-fold CV
knn_scores_kf = cross_val_score(knn, X_scaled, y, cv=kf)
print("kNN k-fold CV average accuracy:", knn_scores_kf.mean())

# SVM k-fold CV
svm_scores_kf = cross_val_score(svm, X_scaled, y, cv=kf)
print("SVM k-fold CV average accuracy:", svm_scores_kf.mean())

# Stratified k-fold cross-validation
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)

# kNN Stratified k-fold CV
knn_scores_skf = cross_val_score(knn, X_scaled, y, cv=skf)
print("kNN Stratified k-fold CV average accuracy:", knn_scores_skf.mean())

# SVM Stratified k-fold CV
svm_scores_skf = cross_val_score(svm, X_scaled, y, cv=skf)
print("SVM Stratified k-fold CV average accuracy:", svm_scores_skf.mean())

kNN k-fold CV average accuracy: 0.8081398252184769
SVM k-fold CV average accuracy: 0.8193757802746567
kNN Stratified k-fold CV average accuracy: 0.8069538077403244
SVM Stratified k-fold CV average accuracy: 0.8204244694132334