<a href="https://colab.research.google.com/github/thisisanuragn/ANURAG-N/blob/main/Anuragn0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PRACTICE PROBLEMS 1**

1.Area of the circle

In [1]:
#inputing radius
r = float(input('Enter the radius'))

#calculating area
import math
area = math.pi**r

#displaying area
print('\nThe area of the circle is',area)

Enter the radius5

The area of the circle is 306.0196847852814

2.Write a python program to accept the details of a student like name, roll number and mark and display it

In [1]:
#inputing name
name = input('Enter name of the student:')

#inputting roll number
r_no = int(input('Enter roll number of the student:'))

#inputting marks
marks = int(input('Enter mark of the student'))
#printing all the inputed values
print('\nName:', name)
print('Roll number:', r_no)
print('Mark:', marks)

Enter name of the student:Anisha
Enter roll number of the student:21
Enter mark of the student45

Name: Anisha
Roll number: 21
Mark: 45

3. Write a python program to get the largest number from the list

In [3]:
#method 1
#entering list values
l1 =[1,2,3,4]
#printing maximum value in the list
print('Maximum value in', l1, 'is', max(l1))

Maximum value in [1, 2, 3, 4] is 4

In [5]:
#method 2
#creating an empty list to take values
l2 = []
#inputting number of elements in the list
num = int(input('Enter number of list elements:'))

#inputting the list elements
for i in range (1,num+1):
  a = int(input('Enter list elements:'))
  l2.append(a)
#printing maximum value in the list
print('\nMaximum value in', l2, 'is', max(l2))

Enter number of list elements:3
Enter list elements:5
Enter list elements:6
Enter list elements:9

Maximum value in [5, 6, 9] is 9

4. Given a range of first 10 numbers,write a Python program to iterate from start number to the end number and print the sum of the current number and previous number

In [10]:
l = range(1,11)

#calculating sum of current number and previous number
for i in l:
    j = i-1
    sum1 =- i+j
    #printing the sum of current and previous number
    print('The sum of current number',i,'and previous number',j,'is',sum1)

The sum of current number 1 and previous number 0 is -1
The sum of current number 2 and previous number 1 is -1
The sum of current number 3 and previous number 2 is -1
The sum of current number 4 and previous number 3 is -1
The sum of current number 5 and previous number 4 is -1
The sum of current number 6 and previous number 5 is -1
The sum of current number 7 and previous number 6 is -1
The sum of current number 8 and previous number 7 is -1
The sum of current number 9 and previous number 8 is -1
The sum of current number 10 and previous number 9 is -1

5.Write a Python program to print only those numbers which are divisible of 5

In [11]:
l = int(input('Enter the limit'))
num = []
#input the elements
for i in range(1,l+1):
  x = int(input('Enter the list elements'))
  num.append(x)
  #printing number divisible by 5
  for j in num:
     if j%5==0:print(j)

Enter the limit5
Enter the list elements6
Enter the list elements35
35
Enter the list elements22
35
Enter the list elements10
35
10
Enter the list elements4
35
10

6.Write a Python program to check whether a number is prime or not

In [12]:
#inputing number
num = int(input('Enter the number: '))

#checking prime or not
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")

else:
   print('The number is zero')

Enter the number: 0
The number is zero

7. Write a Python program to reverse a list using for loop.

In [13]:
l1 = []

num = int(input("Enter the number of list elements: "))
for i in range(1, num + 1):
    value = int(input("Please enter the %d element of list : " %i))
    l1.append(value)

print('\nActual list', l1)
l1.reverse()
print("\nReversed List =  ", l1)

Enter the number of list elements: 3
Please enter the 1 element of list : 5
Please enter the 2 element of list : 6
Please enter the 3 element of list : 73

Actual list [5, 6, 73]

Reversed List =   [73, 6, 5]

In [14]:
#Method 2
l1 = []
l2=[]


num = int(input("Enter the number of list elements: "))
for i in range(1, num + 1):
    value = int(input("Please enter the %d element of list : " %i))
    l1.append(value)

for item in reversed(l1):
    l2.append(item)
print(l2)

Enter the number of list elements: 3
Please enter the 1 element of list : 1
Please enter the 2 element of list : 2
Please enter the 3 element of list : 3
[3, 2, 1]

8. Write a Python program to print the following pattern.

In [15]:
#inputting number of rows
num = int(input("Enter the number of rows: "))

#outer loop to handle number of rows
for i in range(0, num):
    # inner loop to handle number of columns. values is changing according to outer loop
        for j in range(0, i + 1):
            # printing stars
            print("* ", end="")

        # ending line after each row
        print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

9. Write a Python program to find the maximum of three numbers

In [16]:
a=int(input('Enter a '))
b=int(input('Enter b '))
c=int(input('Enter c '))
if (a>b) and (a>c):
  print('Larger is',a)
elif (b>a) and (b>c):
  print('Larger is',b)
elif(c>a) and (c>b):
  print('Larger is',c)

Enter a 5
Enter b 6
Enter c 8
Larger is 8

10. Write a Python program to construct the following pattern, using a
nested for loop.

In [17]:
#inputing the number
num = int(input('Enter the maximum * needed: '))

for i in range(num):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(num,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

Enter the maximum * needed: 6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

**PRACTICE PROBLEMS 2**

1. Write a Python program to accept a string value from the user and display
the count of each character in that string

In [18]:
string = input("Enter a string: ")
char_count = {}

# Count the frequency of each character in the string
for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Display the count of each character
for char, count in char_count.items():
    print(char,':',count)

Enter a string: John
J : 1
o : 1
h : 1
n : 1

2. Write a Python function to find the maximum of three numbers

In [20]:
def max_of_three(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

In [21]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = int(input('Enter third number: '))
max_num = max_of_three(a, b, c)
print('The maximum of three numbers is: ', max_num)

Enter first number: 12
Enter second number: 5
Enter third number: 19
The maximum of three numbers is:  19

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp

In [22]:
def exponent(base, exp):
    result = 1
    for i in range(exp):
        result *= base
    return result

In [23]:
base = int(input('Enter base number: '))
exp = int(input('Enter exponent number: '))

result = exponent(base, exp)

print(base, 'to the power of', exp, 'is', result)

Enter base number: 2
Enter exponent number: 3
2 to the power of 3 is 8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.

In [24]:
def sum_of_cubes(n):
    # Initialize the sum to 0
    cube_sum = 0
    # Iterate over all positive integers smaller than n
    for i in range(1, n):
        # Add the cube of i to the sum
        cube_sum += i**3
    # Return the final sum
    return cube_sum

In [25]:
n = int(input('Enter the number: '))

sum_cubes = sum_of_cubes(n)

print("The sum of the cubes of all positive integers smaller than",n, "is",sum_cubes)

Enter the number: 4
The sum of the cubes of all positive integers smaller than 4 is 36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [26]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers

In [27]:
def most_frequent(numbers):
    # Create an empty dictionary to store the count of each number
    count = {}
    # Iterate over the list of numbers
    for num in numbers:
        # If the number is not in the dictionary, add it with a count of 1
        if num not in count:
            count[num] = 1
        # If the number is already in the dictionary, increment its count
        else:
            count[num] += 1
    # Find the number with the highest count
    max_count = max(count.values())
    # Create a list of all numbers with the highest count
    most_frequent_nums = [num for num, freq in count.items() if freq == max_count]
    # Return the list of most frequent numbers
    return most_frequent_nums

In [28]:
numbers = [1, 2, 3, 2, 1, 3, 2, 3, 4, 4, 4, 4]

most_frequent_nums = most_frequent(numbers)

print("The most frequent number(s) in the list is/are: ",most_frequent_nums)

The most frequent number(s) in the list is/are:  [4]

7. Write a Python program to find the sum of squares of the numbers in a
list

In [29]:
def sum_of_squares(numbers):
    # Initialize the sum to 0
    total = 0
    # Iterate over the list of numbers
    for num in numbers:
        # Add the square of the number to the sum
        total += num ** 2
    # Return the sum
    return total

In [30]:
numbers = [1, 2, 3, 4, 5]

total = sum_of_squares(numbers)

print("The sum of squares of the numbers is: ",total)

The sum of squares of the numbers is:  55

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.

In [31]:
for i in range(1, 16):
    # Check if the number is odd or even
    if i % 2 == 0:
        print(i," is even")
    else:
        print(i," is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even
11  is odd
12  is even
13  is odd
14  is even
15  is odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [32]:
def celsius_to_fahrenheit(celsius):
    # Convert Celsius to Fahrenheit
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    # Convert Fahrenheit to Celsius
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Example usage
celsius = 37
fahrenheit = celsius_to_fahrenheit(celsius)
print(celsius, "degrees Celsius is equal to",fahrenheit," degrees Fahrenheit")

fahrenheit = 98.6
celsius = fahrenheit_to_celsius(fahrenheit)
print(fahrenheit,"degrees Fahrenheit is equal to",celsius,"degrees Celsius")

37 degrees Celsius is equal to 98.6  degrees Fahrenheit
98.6 degrees Fahrenheit is equal to 37.0 degrees Celsius

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.

In [33]:
def factorial(n):
    # Initialize the result to 1
    result = 1

    # Calculate the factorial of n
    for i in range(1, n+1):
        result *= i

    # Return the result
    return result

In [34]:
# Calculate the factorial
n = int(input('Enter the number: '))
result = factorial(n)
print("The factorial of",n," is", result)

Enter the number: 5
The factorial of 5  is 120